// Update Bulma's global variables
$section-padding: 0px;

.margin-sm
  margin: 3px;

html
  overscroll-behavior: contain;

body
  overflow: hidden;
  overflow-y: hidden;

@import "node_modules/bulma/bulma";
